@* almostDone Template File *@
@(ageForm:Form[AgeCheck])(implicit request: MessagesRequestHeader, flash:Flash)

<head>
	<div class="indentation">
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/datingsite.css")">
	<title>Free Online Dating</title>
	</div>
</head>

@main("Almost Done") {
<div class="indentation">
<h2>You're Almost There!</h2>
<br><br>
@helper.form(action = helper.CSRF(routes.MeowderController.ageCheck)) {
	  <b>BIRTHDATE</b>
	  @helper.inputText(ageForm("month"))
	  @helper.inputText(ageForm("day"))
	  @helper.inputText(ageForm("year"))
	  	 <input type="submit" value="Submit">
}
<div class="existingaccount">
Have an account?
<form action="@routes.MeowderController.login()">
  <button type="submit" class="signin">Sign In</button></form></div>
</div>
</body>
</html>
	
}
