@* datingApp Template File *@
@()(implicit request: RequestHeader)

<head>
	<title>Free Online Dating</title>
	<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/datingsite.css")">
</head>

@main("Dating App") {
	
	<div id="createContainer">
<img class="catPic" width="45%" src="@routes.Assets.versioned("images/catpic.jpg")">
<h1 id="logo">Meowder</h1>
<h1 id="datingsite">A DATING SITE FOR PUSSY PEOPLE</h1><br>
<p id="description">On Meowder, you are more than just a cat person.<br>
You get to express the real you through your cat <br>interests,
cat stories and cat passions. Meet your <br>
purrfect pawtner and sign up today.</p> <br><br>
<div id="customize">
<p><b>YOU ARE A</b></p>
<select id="sex">
    <option value="straight">Straight</option>
    <option value="gay">Gay</option>
    <option value="bisexual">Bisexual</option>
    <option value="othersex">Other</option>
</select>
<select id="gender">
    <option value="woman">Woman</option>
    <option value="man">Man</option>
    <option value="othergender">Other</option>
</select>
<form action="@routes.MeowderController.almostDone()">
	<button type="submit" id="Continue">Continue</button>
</form>
	</div>
<br><br>
<div class="existingaccount">
Have an account?
<form action="@routes.MeowderController.login()">
  <button type="submit" class="signin">Sign In</button></form></div>
</div>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
<div id="catTalesContainer"> <br>
<h1 id="catTalesTitle">CAT TALES</h1><br><br>
<h3 class="LeftQuotes">Austin's Story: </h3>
<p class="LeftStories">
I joined Meowder and it was the best <br>decision of my life!
I met the (cat) loves <br>of my life and we currently live together <br>
with their owner.
</p> <img class="austinCat" src="@routes.Assets.versioned("images/austincat.jpg")" width="35%"><br><br><br><br>
<br><br><br><br><br><br>
<h3 class="RightQuotes">Kayako's Story: </h3>
<p class="RightStories">
I met the person of my dreams on this <br> website
and you can too! We share the <br>same addiction
for cats and are currently <br>proud owners of
over 40 cats!
</p> <img class="kayakoCat" src="@routes.Assets.versioned("images/kayakoCat.jpg")" width="35%"><br><br><br><br><br><br><br><br><br><br><br>
<h3 class="LeftQuotes">Lauren's Story: </h3>
<p class="LeftStories">
I just wanted another cat.
</p> <img class="laurenCat" src="@routes.Assets.versioned("images/laurenCat.jpg")" width="35%"><br><br><br><br><br><br><br><br><br>
<h3 class="RightQuotes">Emily's Story: </h3>
<p class="RightStories">
This site helped me find the perfect Christmas Eve meal for my ball python.
</p><img class="emilyCat" src="@routes.Assets.versioned("images/emilyCat.jpg")" width="35%"><br><br><br><br><br><br><br>
</div>
	
}