@* matches Template File *@
@(email: String, matches: Seq[Matched])(implicit request: RequestHeader, flash: Flash, messagesProvider: MessagesProvider)

@main("Matches") {
	<h1>Your Matches:</h1>	
	<br>
	<table>
		@for(m <- matches) {
			<tr>
			@if(m.userone == email) {
					<td>@m.usertwo</td>
					<td>@helper.form(action = helper.CSRF(routes.MeowderController.listCatInfo(m.userone, m.usertwo))) {
						<input type="submit" name="catInfo" value="View Cat Info">
						}
					</td>
					<td>@helper.form(action = helper.CSRF(routes.MeowderChatController.createChatPage(m.userone, m.usertwo))) {
						<input type="submit" name="chat" value="Chat">
						}
					</td>
			} else {
				@if(m.usertwo == email) {
						<td>@m.userone</td>
						<td>@helper.form(action = helper.CSRF(routes.MeowderController.listCatInfo(m.usertwo, m.userone))) {
							<input type="submit" name="catInfo" value="View Cat Info">
							}
						</td>
						<td>@helper.form(action = helper.CSRF(routes.MeowderChatController.createChatPage(m.usertwo, m.userone))) {
						<input type="submit" name="chat" value="Chat">
						}
					</td>
				}
			}
			</tr>
		}
	</table>
}