@* profile Template File *@
@(username: String, email: String, factForm: Form[Profile], catInfoForm: Form[NewCat])(implicit request: RequestHeader, flash: Flash, messagesProvider: MessagesProvider)

<head>
<title>@username</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/profile.css")">
</head>

<body>
<h1 id="logo">Meowder</h1>
<div class="indentation">
<h2 id="name">@username</h2>
<div id="catfacts">
@main("User Profile") {

	@helper.form(action = helper.CSRF(routes.MeowderController.viewMatches(username, email))) {
		<input type="submit" id="message" value="View Your Matches!"> 
	}
	
	@helper.form(action = helper.CSRF(routes.MeowderController.catFeed(email))) {
		<input type="submit" id="message" name="goToCatFeed" value="Go To Cat Feed">
	}<br><br>
	
	<h2>Send Your Cat Fact and Information to the Anonymous Feed!</h2>
	<p>Cat Tip: In order to match with other pawtners, the following information needs to be filled out:</p>
	<br>
	@helper.form(action = helper.CSRF(routes.MeowderController.addFact(username, email))) {
	  @helper.inputText(factForm("catFact"))
	  <input type="submit" name="loginSubmission" value="Add Cat Fact">
	}	
	<br><br>
	@helper.form(action = helper.CSRF(routes.MeowderController.addCatInfo(username, email))) {
	  @helper.inputText(catInfoForm("catname"))
	  <input type ="hidden" name="ownername" value="@username">
	  <input type ="hidden" name="owneremail" value="@email">
	  @helper.inputText(catInfoForm("breed"))
	  @helper.inputText(catInfoForm("gender"))
	  <input type="submit" name="catInfo" value="Add Cat Information"> 
	}<br>
}
</div>
</body>

