@* profile Template File *@
@(username: String, email: String, factForm: Form[Profile])(implicit request: RequestHeader, flash: Flash, messagesProvider: MessagesProvider)

<head>
<title>Sarah Z.</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.versioned("stylesheets/profile.css")">
</head>

<body>
<h1 id="logo">Meowder</h1>
<div class="existingaccount">
Have an account?
<button type="button" class="signin">Sign In</button> 
</div>
<div class="indentation">
<img src="@routes.Assets.versioned("images/profilepic.jpg")" width="13%">
<h2 id="name">@username</h2>
<button type="button" id="message">Message Her</button><br>
<div id="catfacts">
<br><br>
<h2>CAT FACT: A cat usually has about 12 whiskers on each side of its face.</h2>
@main("User Profile") {
	@helper.form(action = helper.CSRF(routes.MeowderController.addFact(username, email))) {
	  @helper.inputText(factForm("catFact"))
	  <input type="submit" name="loginSubmission" value="Add Task">
	}	
	<br><br>
	@helper.form(action = helper.CSRF(routes.MeowderController.catFeed(email))) {
		<input type="submit" name="goToCatFeed" value="Go To Cat Feed">
	}
}
</div>
</div>
</body>

